# **Column Transform**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ds_salaries.csv')
df.head()

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [3]:
x = df.drop('remote_ratio',axis=1)
y = df['remote_ratio']

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y)

In [5]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers=[
    ('t1', OrdinalEncoder(categories=[['S', 'M', 'L']]), ['company_size']),
    ('t2', OneHotEncoder(sparse=False, drop='first'), ['salary_currency'])
], remainder='passthrough')

In [6]:
transformer.fit_transform(x_train)

c:\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1.0, 0.0, 0.0, ..., 86703, 'AU', 'AU'],
       [1.0, 0.0, 0.0, ..., 76940, 'ES', 'ES'],
       [0.0, 0.0, 0.0, ..., 95746, 'DE', 'US'],
       ...,
       [2.0, 0.0, 0.0, ..., 35590, 'PL', 'PL'],
       [1.0, 0.0, 0.0, ..., 130000, 'CA', 'CA'],
       [2.0, 0.0, 0.0, ..., 200000, 'IN', 'US']], dtype=object)